@page
@model BrowserModel
@{
    ViewData["Title"] = "Browser";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>@Html.Raw(Model.Entries)</p>

@foreach (var kvp in Model.Thumbnails)
{
    <img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(kvp.Value))" />
}
